@{
    ViewData["Title"] = "OutputSearchEmailSend Profile";
    Layout = null;
}


@await Html.PartialAsync("~/Views/OutputSearchEmailSend/_Search.cshtml")

<div class="divider">
</div>

@await Html.PartialAsync("~/Views/OutputSearchEmailSend/_Content.cshtml")


<script type="text/javascript">

    $(document).ready(function () {

        $('#OutputSearchEmailSendCustomerCode').select2();
        $('#OutputSearchEmailSendStatus').select2();

        $("#OutputSearchEmailSendDate").flatpickr({
            mode: "range",
            dateFormat: "d-m-Y"
        });

        fnDropdownOutputSearchEmailSendCompanyCode();

        RenderOutputSearchEmailSend();

    });


    function fnDropdownOutputSearchEmailSendCompanyCode() {

        //$.getJSON("@Url.Action("DropDownList", "ProfileCompany")", function (data) {
        //    $.each(data, function (i, data) {
        //        $('<option>',
        //            {
        //                value: data.companyCode,
        //                text: data.companyCode
        //            }).html(data.companyCode).appendTo("#OutputSearchEmailSendCustomerCode");
        //    });
        //})
    }


    function RenderOutputSearchEmailSend(){

        var table = $("#tboutputSearchEmailSendMain").DataTable({

            "scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "OutputSearchEmailSend")",
                type: "POST",
                datatype: "json"
            },


            "columns": [

                {
                    data: "outputSearchEmailSendCompanyCode",
                    width: "5%"
                },
                {
                    data: "outputSearchEmailSendSubject",
                    width: "40%"
                },
                {
                    data: "outputSearchEmailSendFileName",
                    width: "10%",
                        render: function (data, type, row) {
                            return data.substr(data.lastIndexOf('\\') + 1);
                        }
                },
                {
                    data: "outputSearchEmailSendNo",
                    className: "text-center",
                    width: "10%",
                    render: function (data, type, row) {
                        if ('@ViewBag.showDOWNLOAD'.toUpperCase() == 'TRUE')
                        {
                            return'<a onclick="DownloadFile(' + row['outputSearchEmailSendNo'] +')" class="btn btn-primary btn-sm"> Download </a>';
                        }
                        return '';
                    }
                },
                //{
                //    data: "outputSearchEmailSendStatus",
                //    width: "10%",
                //    visible: false,
                //    className: "text-center",
                //    render: function (data, type, row) {
                //        return (data == 1) ? '<i class="text-success fas fa-paper-plane"/>' : '<i class="text-warning fas fa-paper-plane"/>';
                //    }
                //},
                {
                    data: "outputSearchEmailSendNo",
                    className: "text-center",
                    width: "2%",
                        render: function (data, type, row) {
                            if(row['outputSearchEmailSendStatus'] == '1'){
                                return'<a onclick="callEditOutputSearchEmailSend(' + data +')" class="dt-center editor-edit text-center text-warning"><i class="pointer fas fa-clock"/> </i></a>';
                            }
                            return '';
                            //return'<a onclick="callEditOutputSearchEmailSend(' + data +')" class="dt-center editor-edit text-center text-warning"><i class="pointer fas fa-clock"/> </i></a>';
                        }
                }
            ]
        });


        //EditOutputSearchEmailSend(table);
        //DeleteOutputSearchEmailSend(table);
    }

    function EditOutputSearchEmailSend(table){


        $('#tboutputSearchEmailSendMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];


            callOutputSearchEmailSendGetDetailController(getPK);
        });
    }
    function callEditOutputSearchEmailSend(getPK){
        callOutputSearchEmailSendGetDetailController(getPK);
    }


    function fnTimelineCancelOutputSearchEmailSend(){

        $("#modalUpdateOutputSearchEmailSend").modal('hide');
    } 

    function ExportOutputSearchEmailSend(){

        $.blockUI();

        callOutputSearchEmailSendExportController();

        $.unblockUI();
    }


    // [Begin] Ajax call Controller

    function callOutputSearchEmailSendGetDetailController(getPK){

        $.ajax({
            type: "GET",
            url: "@Url.Action("DetailHistory", "OutputSearchEmailSend")",
            data: { id : getPK },
            dataType: "json",
            success: function (result) {
                $('#appendSearchEmailSendHistory').empty();
                $.each(result.data, function (i, slaveValue) {
                            var date = moment(slaveValue.outputSearchEmailSendHistoryTime).format('DD/MM/YYYY HH:mm:ss');
                            var textappend = "<li class='timeline-item'>";
                            textappend = "<span class='timeline-point timeline-point-success'>";
                            textappend += "<i class='fas fa-download text-success'></i>";
                            textappend += "</span>";
                            textappend += "<div class='timeline-event'>";
                            textappend += "<div class='d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1'>";
                            textappend += "<h6 class='mb-50'>" + slaveValue.outputSearchEmailSendHistoryBy + "</h6>";
                            textappend += "<span class='timeline-event-time'>" + date + "</span>";
                            textappend += "</div>";
                            textappend += "<p>The file has been downloaded..</p>";
                            textappend += "<hr />";
                            textappend += "<div class='d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1'>";
                            textappend += "</div>";
                            textappend += "</div>";
                            textappend += "</li>";

                            //var li = document.createElement('li');
                            //var text = document.createTextNode(textappend);
                            //li.innerHTML(textappend);
                            //document.getElementById("appendSearchEmailSendHistory").appendChild(li);
                            $('#appendSearchEmailSendHistory').append(textappend);
                });
                $("#modalUpdateOutputSearchEmailSend").modal('show');

            }
        });
    }


    function callOutputSearchEmailSendExportController(){
        var getCompanyCode = $('#OutputSearchEmailSendCustomerCode').val();
        var getDateBetween = $('#OutputSearchEmailSendDate').val();
        var getPrintDownloadStatus = $('#OutputSearchEmailSendStatus').val();

        var model = new Object();

        model.outPutSearchEmailCompanyCode = getCompanyCode;
        model.outPutSearchEmailDate = getDateBetween;
        model.outPutSearchEmailStatus = getPrintDownloadStatus;

        var JsonString = JSON.stringify(model);
        $.ajax({
            type: "GET",
            url: "@Url.Action("ExportToCsv", "OutputSearchEmailSend")",
            data: { jsonSearchString : JsonString },
            contentType: 'application/json; charset=utf-8',
            //dataType: "json",
            success: function (response) {
                //var bytes = new Uint8Array(response); 
                //var blob = new Blob([response], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                //var link = document.createElement('a');
                //link.href = window.URL.createObjectURL(blob);
                //link.download = "scg-etax-OutputSearchEmailSend.csv";
                //link.click();
                var blob = new Blob([response], {type: 'text/csv;charset=utf-8;'});

                var downloadUrl = URL.createObjectURL(blob);

                var a = document.createElement("a");

                a.href = downloadUrl;

                a.download = "scg-etax-OutputSearchEmailSend.csv";

                document.body.appendChild(a);

                a.click();
            }
        });
    }

    // [end] Ajax call Controller

    function fnSearchOutputEmailSend(){

        var getCompanyCode = $('#OutputSearchEmailSendCustomerCode').val();
        var getDateBetween = $('#OutputSearchEmailSendDate').val();
        var getPrintDownloadStatus = $('#OutputSearchEmailSendStatus').val();

        var model = new Object();

        model.outPutSearchEmailCompanyCode = getCompanyCode;
        model.outPutSearchEmailDate = getDateBetween;
        model.outPutSearchEmailStatus = getPrintDownloadStatus;

        var JsonString = JSON.stringify(model);

        $('#tboutputSearchEmailSendMain').DataTable().destroy();


        $('#tboutputSearchEmailSendMain').DataTable({

            "scrollY": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "retrieve": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax":
                {
                    type: "GET",
                    url: "@Url.Action("Search", "OutputSearchEmailSend")",
                    data: { jsonSearchString : JsonString },
                    dataType: "json"
                },
                "columns": [

                    
                {
                    data: "outputSearchEmailSendCompanyCode",
                    width: "5%"
                },
                {
                    data: "outputSearchEmailSendSubject",
                    width: "40%"
                },
                {
                    data: "outputSearchEmailSendFileName",
                    width: "10%"
                },
                {
                    data: "outputSearchEmailSendNo",
                    className: "text-center",
                    width: "10%",
                    render: function (data, type, row) {
                        if ('@ViewBag.showDOWNLOAD'.toUpperCase() == 'TRUE')
                        {
                            return'<a onclick="DownloadFile(' + row['outputSearchEmailSendNo'] +')" class="btn btn-primary btn-sm"> Download </a>';
                        }else{
                            return '';
                        }
                    }
                },
                //{
                //    data: "outputSearchEmailSendStatus",
                //    width: "10%",
                //    visible: false,
                //    className: "text-center",
                //    render: function (data, type, row) {
                //        return (data == 1) ? '<i class="text-success fas fa-paper-plane"/>' : '<i class="text-warning fas fa-paper-plane"/>';
                //    }
                //},
                {
                    data: "outputSearchEmailSendNo",
                    className: "text-center",
                    width: "2%",
                        render: function (data, type, row) {
                            if(row['outputSearchEmailSendStatus'] == '1'){
                                return'<a onclick="callEditOutputSearchEmailSend(' + data +')" class="dt-center editor-edit text-center text-warning"><i class="pointer fas fa-clock"/> </i></a>';
                            }
                            return '';
                        }
                }
                
            ],


             destroy : true
            
        }).ajax.reload();
    }
    
    function DownloadFile(getpk) {
        
        var model = new Object();

        model.OutputSearchEmailSendNo = getpk;
        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = 1;
        var getJsonString = JSON.stringify(model);
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("DownloadZipFile", "OutputSearchEmailSend")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {
                data = $.parseJSON(resp)
                var errorMessage = data.erroR_MESSAGE;
                if(data.status){
                    //Convert Base64 string to Byte Array.
                    var bytes = Base64ToBytes(data.outpuT_DATA);
                    var fileName = data.message;
                    //Convert Byte Array to BLOB.
                    var blob = new Blob([bytes], { type: "application/octetstream" });
 
                    //Check the Browser type and download the File.
                    var isIE = false || !!document.documentMode;
                    if (isIE) {
                        window.navigator.msSaveBlob(blob, fileName);
                    } else {
                        var url = window.URL || window.webkitURL;
                        link = url.createObjectURL(blob);
                        var a = $("<a />");
                        a.attr("download", fileName);
                        a.attr("href", link);
                        $("body").append(a);
                        a[0].click();
                        $("body").remove(a);
                    }
                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }
            }
        });
    };
    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

    function callOutputSearchEmailSendIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#render-OutputSearchEmailSend-create").load("@Url.Action("Index", "OutputSearchEmailSend")");
            $.unblockUI();
        }, 500);
    }

</script>






