@{
    ViewData["Title"] = "OutputSearchEmailSend Profile";
    Layout = null;
}


@await Html.PartialAsync("~/Views/OutputSearchEmailSend/_Search.cshtml")

<div class="divider">
</div>

@await Html.PartialAsync("~/Views/OutputSearchEmailSend/_Content.cshtml")


<script type="text/javascript">

    $(document).ready(function () {

        $('#OutputSearchEmailSendCustomerCode').select2();
        $('#OutputSearchEmailSendStatus').select2();

        $("#OutputSearchEmailSendDate").flatpickr({
            mode: "range",
            dateFormat: "d-m-Y"
        });

        fnDropdownOutputSearchEmailSendCompanyCode();

        RenderOutputSearchEmailSend();

    });


    function fnDropdownOutputSearchEmailSendCompanyCode() {

        $.getJSON("@Url.Action("DropDownList", "ProfileCompany")", function (data) {
            $.each(data, function (i, data) {
                $('<option>',
                    {
                        value: data.companyCode,
                        text: data.companyCode
                    }).html(data.companyCode).appendTo("#OutputSearchEmailSendCustomerCode");
            });
        })
    }


    function RenderOutputSearchEmailSend(){

        var table = $("#tboutputSearchEmailSendMain").DataTable({

            "scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "OutputSearchEmailSend")",
                type: "POST",
                datatype: "json"
            },


            "columns": [

                {
                    data: "outputSearchEmailSendCompanyCode",
                    width: "5%"
                },
                {
                    data: "outputSearchEmailSendSubject",
                    width: "40%"
                },
                {
                    data: "outputSearchEmailSendFileName",
                    width: "10%"
                },
                {
                    data: "outputSearchEmailSendStatus",
                    width: "10%",
                    visible: false,
                    className: "text-center",
                    render: function (data, type, row) {
                        return (data == 1) ? '<i class="text-success fas fa-paper-plane"/>' : '<i class="text-warning fas fa-paper-plane"/>';
                    }
                },
                {
                    data: null,
                    className: "dt-center editor-edit text-center text-warning",
                    defaultContent: '<i class="pointer fas fa-clock"/> </i>',
                    orderable: false,
                    width: "2%"
                }
            ]
        });


        EditOutputSearchEmailSend(table);
        DeleteOutputSearchEmailSend(table);
    }


    function EditOutputSearchEmailSend(table){


        $('#tboutputSearchEmailSendMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];


            callOutputSearchEmailSendGetDetailController(getPK);
        });
    }


    function fnTimelineCancelOutputSearchEmailSend(){

        $("#modalUpdateOutputSearchEmailSend").modal('hide');
    } 

    function ExportOutputSearchEmailSend(){

        $.blockUI();

        callOutputSearchEmailSendExportController();

        $.unblockUI();
    }


    // [Begin] Ajax call Controller

    function callOutputSearchEmailSendGetDetailController(getPK){

        $.ajax({
            type: "GET",
            url: "@Url.Action("Detail", "OutputSearchEmailSend")",
            data: { id : getPK },
            dataType: "json",
            success: function (result) {

                data = $.parseJSON(result)

                $("#modalUpdateOutputSearchEmailSend").modal('show');

            }
        });
    }


    function callOutputSearchEmailSendExportController(){
        $.ajax({
            type: "GET",
            url: "@Url.Action("ExportToCsv", "OutputSearchEmailSend")",
            //data: { id : getPK },
            contentType: 'application/json; charset=utf-8',
            //dataType: "json",
            success: function (response) {

                var blob = new Blob([response], {type: 'text/csv;charset=utf-8;'});

                var downloadUrl = URL.createObjectURL(blob);

                var a = document.createElement("a");

                a.href = downloadUrl;

                a.download = "scg-etax-OutputSearchEmailSend.csv";

                document.body.appendChild(a);

                a.click();
            }
        });
    }

    // [end] Ajax call Controller

    function fnSearchOutputEmailSend(){

        var getCompanyCode = $('#OutputSearchEmailSendCustomerCode').val();
        var getDateBetween = $('#OutputSearchEmailSendDate').val();
        var getPrintDownloadStatus = $('#OutputSearchEmailSendStatus').val();

        var model = new Object();

        model.outPutSearchEmailCompanyCode = getCompanyCode;
        model.outPutSearchEmailDate = getDateBetween;
        model.outPutSearchEmailStatus = getPrintDownloadStatus;

        var JsonString = JSON.stringify(model);

        $('#tboutputSearchEmailSendMain').DataTable().destroy();


        $('#tboutputSearchEmailSendMain').DataTable({

            "scrollY": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "retrieve": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax":
                {
                    type: "GET",
                    url: "@Url.Action("Search", "OutputSearchEmailSend")",
                    data: { jsonSearchString : JsonString },
                    dataType: "json"
                },
                "columns": [

                    
                {
                    data: "outputSearchEmailSendCompanyCode",
                    width: "5%"
                },
                {
                    data: "outputSearchEmailSendSubject",
                    width: "40%"
                },
                {
                    data: "outputSearchEmailSendFileName",
                    width: "10%"
                },
                {
                    data: "outputSearchEmailSendStatus",
                    width: "10%",
                    visible: false,
                    className: "text-center",
                    render: function (data, type, row) {
                        return (data == 1) ? '<i class="text-success fas fa-paper-plane"/>' : '<i class="text-warning fas fa-paper-plane"/>';
                    }
                },
                {
                    data: null,
                    className: "dt-center editor-edit text-center text-warning",
                    defaultContent: '<i class="pointer fas fa-clock"/> </i>',
                    orderable: false,
                    width: "2%"
                }
                
            ],


             destroy : true
            
        }).ajax.reload();
    }


    function callOutputSearchEmailSendIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#render-OutputSearchEmailSend-create").load("@Url.Action("Index", "OutputSearchEmailSend")");
            $.unblockUI();
        }, 500);
    }


</script>






