@{
    ViewData["Title"] = " ProfileCertificate ";
    Layout = null;
}

    @await Html.PartialAsync("~/Views/ProfileCertificate/_Content.cshtml")



<script type="text/javascript">
    var dataCertificateMaster = null;
     $(document).ready(function () {


        //$("#txtUpdateProfileCertificateStartDate").flatpickr();

        //$("#txtUpdateProfileCertificateEndDate").flatpickr();
        
        $('#ddlInsertProfileCertificatSerial').select2();

        var setCompanyCode = $("#companyCodeState").text();

        setTimeout(function(){
            RenderProfileCertificate(setCompanyCode);
        }, 1200);

        

        $('#toggleUpdateProfileCertificate').change(function() {
            $('#toggleUpdateProfileCertificate-event').html('Toggle: ' + $(this).prop('checked'))
        });

        
        $('#ddlInsertProfileCertificatSerial').change(function() {
            console.log('ddl');
            console.log(dataCertificateMaster);
            $.each(dataCertificateMaster, function (i, data) {
                if(data.certificateCertSerial == $('#ddlInsertProfileCertificatSerial').val()){
                    document.getElementById('txtInsertProfileCertificateName').value = data.certificateName;
                    document.getElementById('txtInsertProfileCertificateStartDate').value = data.certificateStartDate;
                    document.getElementById('txtInsertProfileCertificateEndDate').value = data.certificateEndDate;
                }
            });
        });

    });


    function RenderProfileCertificate(setCompanyCode){

        if(setCompanyCode == null || setCompanyCode == ''){
            setCompanyCode = $("#companyCodeStateUpdate").text();

            if(setCompanyCode == null || setCompanyCode == ''){
                setCompanyCode = $("#companyCodeState").text();
            }
        }

        var table = $("#tbProfileCertificateMain").DataTable({
            destroy: true,
            "scrollY": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "ProfileCertificate")",
                type: "POST",
                data: { companyCode : setCompanyCode },
                datatype: "json"
            },


            "columns": [

                {
                    data: "certificateNo",
                    className: "text-center",
                    width: "5%",
                    visible: false
                },
                {
                    //data: "productUnitNo",
                    className: "text-center",
                    width: "5%",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    data: "certificateName",
                    width: "20%"
                },
                {
                    data: "certificateCertSerial",
                    width: "20%"
                },
                //{
                //    data: "companyCertificateData",
                //    width: "20%"
                //},
                //{
                //    data: "companyCertificateSerial",
                //    width: "20%"
                //},
                //{
                //    data: "companyCertificateKeyAlias",
                //    width: "20%"
                //},
                //{
                //    data: "companyCertificateStartDate",
                //    width: "20%"
                //},
                {
                    data: "certificateEndDate",
                    width: "20%"
                },
                //{
                //    data: "isactive",
                //    width: "10%",
                //    className: "text-center",
                //    render: function (data, type, row) {
                //        return (data == 1) ? '<i class="text-success fas fa-check"/>' : '<i class="text-danger fas fa-ban"/>';
                //    }
                //},
                {
                    data: null,
                    className: "dt-center editor-edit text-center text-primary",
                    defaultContent: '<i class="pointer fas fa-pen"/>',
                    orderable: false,
                    width: "2%"
                }
                //{
                //    data: null,
                //    className: "dt-center editor-delete text-center text-danger",
                //    defaultContent: '<i class="pointer fas fa-trash"/>',
                //    orderable: false,
                //    width: "2%"
                //}
            ]
        });

        table.on( 'order.dt search.dt', function () {
            table.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } ).draw();


        EditProfileCertificate(table);
        DeleteProfileCertificate(table);
    }


    function fnInsertCancelProfileCertificate(){

            document.getElementById('ddlInsertProfileCertificatSerial').value = '';
            document.getElementById('txtInsertProfileCertificateStartDate').value = '';
            document.getElementById('txtInsertProfileCertificateEndDate').value = '';


            $("#modalCreateProfileCertificate").modal('hide');
    }

    function fnUpdateCancelProfileCertificate(){

            document.getElementById('txtUpdateProfileCertificatHSMSerial').value = '';
            document.getElementById('txtUpdateProfileCertificateName').value = '';
            document.getElementById('txtUpdateProfileCertificateSerial').value = '';
            document.getElementById('txtUpdateProfileCertificateKeyAlias').value = '';
            document.getElementById('txtUpdateProfileCertificateStartDate').value = '';
            document.getElementById('txtUpdateProfileCertificateEndDate').value = '';

            $("#modalUpdateProfileCertificate").modal('hide');
    }
    
    function sleep(num) {
      let now = new Date();
      let stop = now.getTime() + num;
      while(true) { now = new Date();
    if(now.getTime() >
    stop) return;
      }
    }
    function callModalInsertProfileCertificate(){
        
        $('#ddlInsertProfileCertificatSerial').select2();
        $("#ddlUpdateProfileCompanyCertificate").empty();
        $("#modalCreateProfileCertificate").modal('show');
        
        sleep(1000);
        $.getJSON("@Url.Action("List", "CertificateMaster")", function (data) {
            $.each(data.data, function (i, slaveValue) {
                $('select#ddlInsertProfileCertificatSerial').append(
                $('<option></option>').val(slaveValue.certificateCertSerial).html(
                 slaveValue.certificateCertSerial)
                );
            });
            dataCertificateMaster = data.data;
            console.log('load');
            console.log(dataCertificateMaster);

            //$("#ddlInsertProfileCertificatSerial").trigger('change');
        })
        //var setTaxNumber = $("#txtUpdateProfileCompanyTaxNumber").val();

        //if(setTaxNumber == null || setTaxNumber == ''){
        //    setTaxNumber = $("#txtUpdateProfileCompanyTaxNumber").val();

        //    if(setTaxNumber == null || setTaxNumber == ''){
        //        setTaxNumber = $("#txtInsertProfileCompanyTaxNumber").val();
        //    }   
        //}

        //var setCompanyName = $("#txtUpdateProfileCompanyNameTh").val();

        //if(setCompanyName == null || setCompanyName == ''){
        //    setCompanyName = $("#txtUpdateProfileCompanyNameTh").val();

        //    if(setCompanyName == null || setCompanyName == ''){
        //        setCompanyName = $("#txtInsertProfileCompanyNameTh").val();
        //    }   
        //}


        //document.getElementById('txtInsertProfileCertificatTaxNumber').value = setTaxNumber;
        //document.getElementById('txtInsertProfileCertificateCompanyName').value = setCompanyName;

        //$.ajax({
        //    type: "GET",
        //    url: "Url.Action("List", "CertificateMaster")",
        //    //data: { id : getPK },
        //    //contentType: 'application/json; charset=utf-8',
        //    dataType: "json",
        //    success: function (result) {
        //        data = $.parseJSON(result)
        //        console.log('Mark');
        //        console.log(data);

        //        $.each(data, function (i, data) {
        //        $('<option>',
        //            {
        //                value: data.CertificateCertSerial,
        //                text: data.CertificateCertSerial
        //            }).html(data.CertificateCertSerial).appendTo("#ddlInsertProfileCertificatSerial");
        //        });

        //        //document.getElementById('txtUpdateProfileCertificateHSMName').value = data.CertificateHsmname;
        //        //document.getElementById('txtUpdateProfileCertificatHSMSerial').value = data.CertificateHsmserial;
        //        //document.getElementById('txtUpdateProfileCertificateSerial').value = data.CertificateCertSerial;
        //        //document.getElementById('txtUpdateProfileCertificateKeyAlias').value = data.CertificateKeyAlias;
        //        //document.getElementById('txtUpdateProfileCertificateStartDate').value = data.CompanyCertificateStartDate;
        //        //document.getElementById('txtUpdateProfileCertificateEndDate').value = data.CompanyCertificateEndDate;


        //        //if(data.Isactive == 1){
        //        //    document.getElementById("toggleUpdateProfileCertificate").checked = true;
        //        //}
        //        //else{
        //        //    document.getElementById("toggleUpdateProfileCertificate").checked = false;
        //        //}

        //        $("#modalUpdateProfileCertificate").modal('show');

        //    }
        //});
        
        //$("#modalCreateProfileCertificate").modal('show');

    }

    function fnInsertProfileCertificate(){

        if ($('#ddlInsertProfileCertificatSerial').val() != '')
        {
            callProfileCertificateInsertController();
        }
        else {
            fnToastrInputDataFail();
        }
        callProfileCertificateIndex();
    }

    function fnUpdateProfileCertificate(){

        if ($('#txtUpdateProfileCertificateCode').val() != '') {
            callProfileCertificateUpdateController();
        }
        else {
            fnToastrInputDataFail();
        }
        callProfileCertificateIndex();
    }

    function EditProfileCertificate(table){

        $('#tbProfileCertificateMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];

            callProfileCertificateGetDetailController(getPK);

        });
    }

    function DeleteProfileCertificate(table){

        $('#tbProfileCertificateMain').on('click', 'td.editor-delete', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
                }).then(function (result) {
                    if (result) {
                        callProfileCertificateDeleteController(getPK);
                        callProfileCertificateIndex();
                      }
                    })
        });
    }

    function ExportProfileCertificate(){

        $.blockUI();

        callProfileCertificateExportController();

        $.unblockUI();
    }



    // [Begin] Ajax call Controller

    function callProfileCertificateGetDetailController(getPK){
        $.ajax({
            type: "GET",
            url: "@Url.Action("Detail", "ProfileCertificate")",
            data: { id : getPK },
            //contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (result) {
                data = $.parseJSON(result)
                document.getElementById('txtUpdateProfileCertificateHSMName').value = data.CertificateHsmname;
                document.getElementById('txtUpdateProfileCertificateNo').value = data.CertificateNo;
                document.getElementById('txtUpdateProfileCertificatHSMSerial').value = data.CertificateHsmserial;
                document.getElementById('txtUpdateProfileCertificateSerial').value = data.CertificateCertSerial;
                document.getElementById('txtUpdateProfileCertificateName').value = data.CertificateName;
                document.getElementById('txtUpdateProfileCertificateKeyAlias').value = data.CertificateKeyAlias;
                document.getElementById('txtUpdateProfileCertificateStartDate').value = data.CertificateStartDate;
                document.getElementById('txtUpdateProfileCertificateEndDate').value = data.CertificateEndDate;


                if(data.Isactive == 1){
                    document.getElementById("toggleUpdateProfileCertificate").checked = true;
                }
                else{
                    document.getElementById("toggleUpdateProfileCertificate").checked = false;
                }

                $("#modalUpdateProfileCertificate").modal('show');

            }
        });
    }

    function callProfileCertificateInsertController(){

        var IsActive = 1;

        if($('#toggleInsertProfileCertificate').prop('checked')){
            IsActive = 1;
        }
        else{
            IsActive = 0;
        }

        var model = new Object();
        model.CertificateCompanyCode = $('#txtUpdateProfileCompanyCode').val();
        model.CertificateCertSerial = $('#ddlInsertProfileCertificatSerial').val();

        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = IsActive;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Insert", "ProfileCertificate")",
            data: { jsonString : getJsonString },
            //contentType: 'application/json; charset=utf-8',
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp)

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    fnSweetAlert_SaveSuccess();

                    document.getElementById('ddlInsertProfileCertificatSerial').value = '';
                    document.getElementById('txtInsertProfileCertificateStartDate').value = '';
                    document.getElementById('txtInsertProfileCertificateEndDate').value = '';

                    $("#modalCreateProfileCertificate").modal('hide');

                    $("#ddlInsertProfileCompanyCertificate").empty();
                    fnDropdownProfileCompanyCertificate();
                    $('#ddlInsertProfileCompanyCertificate').removeAttr('disabled');


                    callProfileCertificateIndex();



                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }

            }
        });
    }

    function callProfileCertificateUpdateController(){

        var IsActive = 1;

        if($('#toggleUpdateProfileCertificate').prop('checked')){
            IsActive = 1;
        }
        else{
            IsActive = 0;
        }

        var model = new Object();

        
        model.CertificateNo = $('#txtUpdateProfileCertificateNo').val();
        model.CertificateCompanyCode = $('#txtUpdateProfileCompanyCode').val();
        model.CertificateHSMName = $('#txtUpdateProfileCertificateHSMName').val();
        model.CertificateHSMSerial = $('#txtUpdateProfileCertificatHSMSerial').val();
        model.CertificateCertSerial = $('#txtUpdateProfileCertificateSerial').val();
        model.CertificateName = $('#txtUpdateProfileCertificateName').val();
        model.CertificateKeyAlias = $('#txtUpdateProfileCertificateKeyAlias').val();
        model.CertificateStartDate = $('#txtUpdateProfileCertificateStartDate').val();
        model.CertificateEndDate = $('#txtUpdateProfileCertificateEndDate').val();
        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = IsActive;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Update", "ProfileCertificate")",
            data: { jsonString : getJsonString },
            //contentType: 'application/json; charset=utf-8',
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp)

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    fnSweetAlert_SaveSuccess();

                    document.getElementById('txtUpdateProfileCertificatHSMSerial').value = '';
                    document.getElementById('txtUpdateProfileCertificateSerial').value = '';
                    document.getElementById('txtUpdateProfileCertificateName').value = '';
                    document.getElementById('txtUpdateProfileCertificateKeyAlias').value = '';
                    document.getElementById('txtUpdateProfileCertificateStartDate').value = '';
                    document.getElementById('txtUpdateProfileCertificateEndDate').value = '';

                    $("#modalUpdateProfileCertificate").modal('hide');

                    callProfileCertificateIndex();

                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }
            }
        });
    }

    function callProfileCertificateDeleteController(getPK){

        var model = new Object();


        model.CertificateNo = getPK;

        model.CompanyTaxNumber = '';
        model.CompanyName = '';
        model.CompanyCertificateData = '';
        model.CompanyCertificateSerial = '';
        model.CompanyCertificateKeyAlias = '';
        model.CertificateStartDate = '';
        model.CertificateEndDate = '';


        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = 0;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete", "ProfileCertificate")",
            data: { jsonString : getJsonString },
            //contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {

                    fnSweetAlert_DeleteSuccess();


                }
        });
    }

    function callProfileCertificateExportController(){
        $.ajax({
            type: "GET",
            url: "@Url.Action("ExportToCsv", "ProfileCertificate")",
            //data: { id : getPK },
            contentType: 'application/json; charset=utf-8',
            //dataType: "json",
            success: function (response) {

                var blob = new Blob([response], {type: 'text/csv;charset=utf-8;'});

                var downloadUrl = URL.createObjectURL(blob);

                var a = document.createElement("a");

                a.href = downloadUrl;

                a.download = "scg-etax-ProfileCertificate.csv";

                document.body.appendChild(a);

                a.click();
            }
        });
    }

    // [end] Ajax call Controller




    function callProfileCertificateIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#render-profileCertificate-create").load("@Url.Action("Index", "ProfileCertificate")");

            $("#render-profileCertificate-update").empty();
            $("#render-profileCertificate-update").load("@Url.Action("Index", "ProfileCertificate")");

            $.unblockUI();
        }, 500);
    }






</script>