@{
    ViewData["Title"] = "Product Unit Profile";
    Layout = null;
}


@await Html.PartialAsync("~/Views/ConfigPdfSign/_Content.cshtml")


<script type="text/javascript">

    $(document).ready(function () {

        var setCompanyCode = $("#companyCodeState").text();

        setTimeout(function(){
            RenderConfigPdfSign(setCompanyCode);
        }, 1200);

    });

    $(window).on('load', function() {

        $('#modalInsertConfigPdfSign').select2({
            dropdownParent: $('#modalInsertConfigPdfSign')
        });

    });

     function fnDropdownDataSource() {

        $('<option>',
        {
            value: 0,
        }).html("--- Select Data Source ---").appendTo("#ddlInsertConfigPdfSignInputSource");

        $('<option>',
        {
            value: 0,
        }).html("--- Select Data Source ---").appendTo("#ddlInsertConfigPdfSignOutputSource");

        $('<option>',
        {
            value: 0,
        }).html("--- Select Data Source ---").appendTo("#ddlInsertConfigPdfSignOutputConvertSource");
        


        $.getJSON("@Url.Action("DropDownList", "ProfileDataSource")", function (data) {
            $.each(data, function (i, data) {
                $('<option>',
                    {
                        value: data.dataSourceName,
                        text: data.dataSourceName
                    }).html(data.dataSourceName).appendTo("#ddlInsertConfigPdfSignInputSource");

                $('<option>',
                    {
                        value: data.dataSourceName,
                        text: data.dataSourceName
                    }).html(data.dataSourceName).appendTo("#ddlInsertConfigPdfSignOutputSource");

                $('<option>',
                    {
                        value: data.dataSourceNo,
                        text: data.dataSourceName
                    }).html(data.dataSourceName).appendTo("#ddlInsertConfigPdfSignOutputConvertSource");
                    
                $('<option>',
                    {
                        value: data.dataSourceName,
                        text: data.dataSourceName
                    }).html(data.dataSourceName).appendTo("#ddlUpdateConfigPdfSignInputSource");
                    
                $('<option>',
                    {
                        value: data.dataSourceName,
                        text: data.dataSourceName
                    }).html(data.dataSourceName).appendTo("#ddlUpdateConfigPdfSignOutputSource");

            });


        })
    }

    function onChangeBathPdfSign(){
        $('#toggleInsertConfigPdfSignIsBatch').prop('checked', true)
        $('#toggleInsertConfigPdfSignIsOnline').prop('checked', false)


        $('#ddlInsertConfigPdfSignInputType').prop('disabled', false)
        $('#ddlInsertConfigPdfSignInputSource').prop('disabled', false)
        $('#txtInsertConfigPdfSignInputPath').prop('disabled', false)
        $('#ddlInsertConfigPdfSignOutputType').prop('disabled', false)
        $('#ddlInsertConfigPdfSignOutputSource').prop('disabled', false)
        $('#txtInsertConfigPdfSignOutputPath').prop('disabled', false)
        $('#ddlInsertConfigPdfSignOutputConvertSource').prop('disabled', false)
        $('#txtInsertConfigPdfSignOutputConvertPath').prop('disabled', false)

        $('#txtInsertConfigPdfSignFtpHost').prop('disabled', false)
        $('#txtInsertConfigPdfSignFtpPort').prop('disabled', false)
        $('#txtInsertConfigPdfSignFtpUsername').prop('disabled', false)
        $('#txtInsertConfigPdfSignFtpPassword').prop('disabled', false)


        $('#txtInsertConfigPdfSignOnlineRecordNumber').prop('disabled', true)

        $('#txtInsertConfigPdfSignOnlineRecordNumber').val('');
    }

    function onChangeOnlinePdfSign(){

        $('#toggleInsertConfigPdfSignIsOnline').prop('checked', true)
        $('#toggleInsertConfigPdfSignIsBatch').prop('checked', false)

        $('#ddlInsertConfigPdfSignInputType').prop('disabled', true)
        $('#ddlInsertConfigPdfSignInputSource').prop('disabled', true)
        $('#txtInsertConfigPdfSignInputPath').prop('disabled', true)
        $('#ddlInsertConfigPdfSignOutputType').prop('disabled', true)
        $('#ddlInsertConfigPdfSignOutputSource').prop('disabled', true)
        $('#txtInsertConfigPdfSignOutputPath').prop('disabled', true)
        $('#ddlInsertConfigPdfSignOutputConvertSource').prop('disabled', true)
        $('#txtInsertConfigPdfSignOutputConvertPath').prop('disabled', true)

        $('#txtInsertConfigPdfSignFtpHost').prop('disabled', true)
        $('#txtInsertConfigPdfSignFtpPort').prop('disabled', true)
        $('#txtInsertConfigPdfSignFtpUsername').prop('disabled', true)
        $('#txtInsertConfigPdfSignFtpPassword').prop('disabled', true)

        $('#txtInsertConfigPdfSignOnlineRecordNumber').prop('disabled', false)

        // ====================
    }
    
    function onChangeBathUpdatePdfSign(){
        $('#toggleUpdateConfigPdfSignIsBatch').prop('checked', true)
        $('#toggleUpdateConfigPdfSignIsOnline').prop('checked', false)


        $('#ddlUpdateConfigPdfSignInputType').prop('disabled', false)
        $('#ddlUpdateConfigPdfSignInputSource').prop('disabled', false)
        $('#txtUpdateConfigPdfSignInputPath').prop('disabled', false)
        $('#ddlUpdateConfigPdfSignOutputType').prop('disabled', false)
        $('#ddlUpdateConfigPdfSignOutputSource').prop('disabled', false)
        $('#txtUpdateConfigPdfSignOutputPath').prop('disabled', false)
        $('#ddlUpdateConfigPdfSignOutputConvertSource').prop('disabled', false)
        $('#txtUpdateConfigPdfSignOutputConvertPath').prop('disabled', false)

        $('#txtUpdateConfigPdfSignFtpHost').prop('disabled', false)
        $('#txtUpdateConfigPdfSignFtpPort').prop('disabled', false)
        $('#txtUpdateConfigPdfSignFtpUsername').prop('disabled', false)
        $('#txtUpdateConfigPdfSignFtpPassword').prop('disabled', false)


        $('#txtUpdateConfigPdfSignOnlineRecordNumber').prop('disabled', true)

        $('#txtUpdateConfigPdfSignOnlineRecordNumber').val('');
    }

    function onChangeOnlineUpdatePdfSign(){

        $('#toggleUpdateConfigPdfSignIsOnline').prop('checked', true)
        $('#toggleUpdateConfigPdfSignIsBatch').prop('checked', false)

        $('#ddlUpdateConfigPdfSignInputType').prop('disabled', true)
        $('#ddlUpdateConfigPdfSignInputSource').prop('disabled', true)
        $('#txtUpdateConfigPdfSignInputPath').prop('disabled', true)
        $('#ddlUpdateConfigPdfSignOutputType').prop('disabled', true)
        $('#ddlUpdateConfigPdfSignOutputSource').prop('disabled', true)
        $('#txtUpdateConfigPdfSignOutputPath').prop('disabled', true)
        $('#ddlUpdateConfigPdfSignOutputConvertSource').prop('disabled', true)
        $('#txtUpdateConfigPdfSignOutputConvertPath').prop('disabled', true)

        $('#txtUpdateConfigPdfSignFtpHost').prop('disabled', true)
        $('#txtUpdateConfigPdfSignFtpPort').prop('disabled', true)
        $('#txtUpdateConfigPdfSignFtpUsername').prop('disabled', true)
        $('#txtUpdateConfigPdfSignFtpPassword').prop('disabled', true)

        $('#txtInsertConfigPdfSignOnlineRecordNumber').prop('disabled', false)

        // ====================
    }

    function RenderConfigPdfSign(setCompanyCode){

        if(setCompanyCode == null || setCompanyCode == ''){
            setCompanyCode = $("#companyCodeStateUpdate").text();
        }

        var table = $("#tbConfigPdfSignMain").DataTable({
            destroy: true,
            "scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "ConfigPdfSign")",
                type: "POST",
                data: { companyCode : setCompanyCode },
                datatype: "json"
            },


            "columns": [

                {
                    data: "configPdfsignNo",
                    className: "text-center",
                    width: "5%",
                    visible: false
                },
                {
                    //data: "ConfigPdfSignNo",
                    className: "text-center",
                    width: "5%",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    data: "configPdfsignCompanyTax",
                    width: "20%"
                },
                {
                    data: "configPdfsignUlx",
                    width: "10%"
                },
                {
                    data: "configPdfsignUly",
                    width: "20%"
                },
                {
                    data: "configPdfsignFontSize",
                    width: "10%"
                },
                {
                    data: "configPdfsignPage",
                    width: "10%"
                },
                {
                    data: "configPdfsignOnlineRecordNumber",
                    width: "10%"
                },
                {
                    data: "configPdfsignInputType",
                    width: "10%"
                },
                {
                    data: "configPdfsignInputPath",
                    width: "10%"
                },
                {
                    data: "configPdfsignOutputType",
                    width: "10%"
                },
                {
                    data: "configPdfsignOutputPath",
                    width: "10%"
                },
                {
                    data: "configPdfsignHsmSerial",
                    width: "10%"
                },
                {
                    data: "configPdfsignKeyAlias",
                    width: "10%"
                },
                {
                    data: "isactive",
                    width: "10%",
                    className: "text-center",
                    orderable: false,
                    render: function (data, type, row) {
                        return (data == 1) ? '<i class="text-success fas fa-check"/>' : '<i class="text-danger fas fa-ban"/>';
                    }
                },
                {
                    //data: null,
                    //className: "dt-center editor-edit text-center text-primary",
                    //defaultContent: '<i class="pointer fas fa-pen"/> </i>',
                    //orderable: false,
                    //width: "2%"
                    data: "configPdfsignNo",
                        width: "2%",
                        render: function (data, type, row) {
                            return'<a onclick="callEditConfigPdfSign(' + data +')" class="dt-center editor-edit text-center text-primary"><i class="pointer fas fa-pen"/></a>';
                        }
                }
            ]
        });

        table.on( 'order.dt search.dt', function () {
            table.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } ).draw();

        //EditConfigPdfSign(table);
        //DeleteConfigPdfSign(table);
    }


    function fnInsertCancelConfigPdfSign(){

        $("#modalInsertConfigPdfSign").modal('hide');
    }

    function fnUpdateCancelConfigPdfSign(){

        $("#modalUpdateConfigPdfSign").modal('hide');
    }

    function callModalInsertConfigPdfSign(){

        var setCompanyCode = $("#companyCodeStateUpdate").text();

        if(setCompanyCode == null || setCompanyCode == ''){
            setCompanyCode = $("#companyCodeStateUpdate").text();

            if(setCompanyCode == null || setCompanyCode == ''){
                setCompanyCode = $("#companyCodeState").text();
            }   
        }

        fnDropdownDataSource();

        document.getElementById('txtInsertConfigPdfSignCustomerCode').value = setCompanyCode;

        $("#modalInsertConfigPdfSign").modal('show');
    }

     function fnInsertConfigPdfSign(){
        if ($('#txtInsertConfigPdfSignCustomerCode').val() != '' && $('#ddlInsertConfigPdfSignInputSource').val() != '') {
            callConfigPdfSignInsertController();
        }
        else {
            //validateInsertConfigPdfSign();

            fnToastrInputDataFail();
        }
    }

    function fnUpdateConfigPdfSign(){
        if ($('#txtUpdateConfigPdfSignCustomerCode').val() != '') {
            callConfigPdfSignUpdateController();
        }
        else {
            //validateUpdateConfigPdfSign();

            fnToastrInputDataFail();
        }
    }

    function EditConfigPdfSign(table){

        $('#tbConfigPdfSignMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];
            
            fnDropdownDataSource();
            callConfigPdfSignGetDetailController(getPK);
        });
    }
    function callEditConfigPdfSign(getPK){
        fnDropdownDataSource();
        callConfigPdfSignGetDetailController(getPK);
    }

    function DeleteConfigPdfSign(table){

        $('#tbConfigPdfSignMain').on('click', 'td.editor-delete', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
                }).then(function (result) {
                    if (result) {
                        callConfigPdfSignDeleteController(getPK);
                        callConfigPdfSignIndex();
                      }
                    })
        });
    }

    function ExportConfigPdfSign(){

        $.blockUI();

        callConfigPdfSignExportController();

        $.unblockUI();
    }


    // [Begin] Ajax call Controller

    function callConfigPdfSignGetDetailController(getPK){
        $.ajax({
            type: "GET",
            url: "@Url.Action("Detail", "ConfigPdfSign")",
            data: { id : getPK },
            dataType: "json",
            success: function (result) {

                data = $.parseJSON(result)
                document.getElementById('txtUpdateConfigPdfSignNo').value = data.ConfigPdfsignNo;
                document.getElementById('txtUpdateConfigPdfSignCustomerCode').value = data.ConfigPdfsignCompanyCode;
                document.getElementById('txtUpdateConfigPdfSignInputPath').value = data.ConfigPdfsignInputPath;
                document.getElementById('txtUpdateConfigPdfSignOutputPath').value = data.ConfigPdfsignOutputPath;
                document.getElementById('txtUpdateConfigPdfSignOnlineRecordNumber').value = data.ConfigPdfsignOnlineRecordNumber;
                
                document.getElementById('ddlUpdateConfigPdfSignInputSource').value = data.ConfigPdfSignInputSource;
                document.getElementById('ddlUpdateConfigPdfSignOutputSource').value = data.ConfigPdfSignOutputSource;
                if(data.ConfigPdfsignPage == 'first'){
                    document.getElementById("toggleUpdateConfigPdfSignIsImageFirst").checked = true;
                }else if(data.ConfigPdfsignPage == 'last'){
                    document.getElementById("toggleUpdateConfigPdfSignIsImageLast").checked = true;
                }
                else{
                    document.getElementById('toggleUpdateConfigPdfSignIsImage').value = data.ConfigPdfsignPage;
                }

                
                //$("#ddlUpdateConfigPdfSignInputType").select2().val(data.ConfigPdfsignInputType).trigger("change");        
                //$("#ddlUpdateConfigPdfSignOutputType").select2().val(data.ConfigPdfsignOutputType).trigger("change");
                //$("#ddlUpdateConfigPdfSignInputType").select2().val(data.ConfigPdfsignInputType);        
                //$("#ddlUpdateConfigPdfSignOutputType").select2().val(data.ConfigPdfsignOutputType);
                document.getElementById('ddlUpdateConfigPdfSignFontName').value = data.ConfigPdfsignFontName;
                document.getElementById('txtUpdateConfigPdfSignFontSize').value = data.ConfigPdfsignFontSize;
                document.getElementById('txtUpdateConfigPdfSignImage').value = data.ConfigPdfsignImage;
                document.getElementById('txtUpdateConfigPdfSignImagex').value = data.ConfigPdfsignUlx;
                document.getElementById('txtUpdateConfigPdfSignImagey').value = data.ConfigPdfsignUly;
                document.getElementById('txtUpdateConfigPdfSignLocation').value = data.ConfigPdfsignDsLocation;
                document.getElementById('txtUpdateConfigPdfSignReason').value = data.ConfigPdfsignDsReason;
                document.getElementById('txtUpdateConfigPdfSignUrl').value = data.ConfigPdfsignTimestampUrl;
                document.getElementById('txtUpdateConfigPdfSignUsername').value = data.ConfigPdfsignTimestampUserName;
                document.getElementById('txtUpdateConfigPdfSignPassword').value = data.ConfigPdfsignTimestampPassword;

                document.getElementById('txtUpdateConfigPdfSignFtpHost').value = data.ConfigPdfsignFtpHost;
                document.getElementById('txtUpdateConfigPdfSignFtpPort').value = data.ConfigPdfsignFtpPort;
                document.getElementById('txtUpdateConfigPdfSignFtpUsername').value = data.ConfigPdfsignFtpUserName;
                document.getElementById('txtUpdateConfigPdfSignFtpPassword').value = data.ConfigPdfsignFtpPassword;

                if(data.Isactive == 1){
                    document.getElementById("toggleUpdateConfigPdfSignIsActive").checked = true;
                }
                else{
                    document.getElementById("toggleUpdateConfigPdfSignIsActive").checked = false;
                }

                $("#modalUpdateConfigPdfSign").modal('show');

            }
        });
    }

    function callConfigPdfSignInsertController(){

        var IsActive = 1;
        var page = "first";

        if($('#toggleInsertConfigPdfSignIsActive').prop('checked')){
            IsActive = 1;
        }
        else{
            IsActive = 0;
        }
        if($('#toggleInsertConfigPdfSignIsImageFirst').prop('checked')){
            page = "first";
        }
        else if($('#toggleInsertConfigPdfSignIsImageLast').prop('checked')){
            page = "last";
        }
        else{
            page = $('#toggleInsertConfigPdfSignIsImage').val();
        }

        var model = new Object();
        
        model.ConfigPdfsignCompanyCode = $('#txtUpdateProfileCompanyCode').val();
        model.CustomerCode = $('#txtInsertConfigPdfSignCustomerCode').val();
        model.ConfigPdfSignInputSource = $('#ddlInsertConfigPdfSignInputSource').val();
        model.ConfigPdfSignInputPath = $('#txtInsertConfigPdfSignInputPath').val();
        model.ConfigPdfSignOutputSource = $('#ddlInsertConfigPdfSignOutputSource').val();
        model.ConfigPdfSignOutputPath = $('#txtInsertConfigPdfSignOutputPath').val();
        model.ConfigPdfSignOnlineRecordNumber = $('#txtInsertConfigPdfSignOnlineRecordNumber').val();
        model.ConfigPdfsignInputType = $('#ddlInsertConfigPdfSignInputType').val();
        model.ConfigPdfsignOutputType = $('#ddlInsertConfigPdfSignOutputType').val();
        model.ConfigPdfsignFontName = $('#ddlInsertConfigPdfSignFontName').val();
        model.ConfigPdfsignFontSize = $('#txtInsertConfigPdfSignFontSize').val();
        model.ConfigPdfsignImage = $('#txtInsertConfigPdfSignImage').val();
        model.ConfigPdfsignUlx = $('#txtInsertConfigPdfSignImagex').val();
        model.ConfigPdfsignUly = $('#txtInsertConfigPdfSignImagey').val();
        model.ConfigPdfsignPage = page;
        model.ConfigPdfsignDsLocation = $('#txtInsertConfigPdfSignLocation').val();
        model.ConfigPdfsignDsReason = $('#txtInsertConfigPdfSignReason').val();
        model.ConfigPdfsignTimestampUrl = $('#txtInsertConfigPdfSignUrl').val();
        model.ConfigPdfsignTimestampUserName = $('#txtInsertConfigPdfSignUsername').val();
        model.ConfigPdfsignTimestampPassword = $('#txtInsertConfigPdfSignPassword').val();
        model.ConfigPdfsignFtpHost = $('#txtInsertConfigPdfSignFtpHost').val();
        model.ConfigPdfsignFtpPort = $('#txtInsertConfigPdfSignFtpPort').val();
        model.ConfigPdfsignFtpUserName = $('#txtInsertConfigPdfSignFtpUsername').val();
        model.ConfigPdfsignFtpPassword = $('#txtInsertConfigPdfSignFtpPassword').val();
        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = IsActive;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Insert", "ConfigPdfSign")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp)

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    fnSweetAlert_SaveSuccess();

                    document.getElementById('txtInsertConfigPdfSignCustomerCode').value = '';
                    document.getElementById('ddlInsertConfigPdfSignInputSource').value = '';
                    document.getElementById('ddlInsertConfigPdfSignOutputSource').value = '';
                    document.getElementById('txtInsertConfigPdfSignInputPath').value = '';
                    document.getElementById('txtInsertConfigPdfSignOutputPath').value = '';
                    document.getElementById('txtInsertConfigPdfSignOnlineRecordNumber').value = '';
                    document.getElementById('toggleInsertConfigPdfSignIsImageFirst').value = '';
                    document.getElementById('toggleInsertConfigPdfSignIsImageLast').value = '';
                    document.getElementById('toggleInsertConfigPdfSignIsImage').value = '';
                    document.getElementById('txtInsertConfigPdfSignCustomerCode').value = '';
                    document.getElementById('ddlInsertConfigPdfSignInputSource').value = '';
                    document.getElementById('txtInsertConfigPdfSignInputPath').value = '';
                    document.getElementById('ddlInsertConfigPdfSignOutputSource').value = '';
                    document.getElementById('txtInsertConfigPdfSignOutputPath').value = '';
                    document.getElementById('txtInsertConfigPdfSignOnlineRecordNumber').value = '';
                    document.getElementById('ddlInsertConfigPdfSignInputType').value = '';
                    document.getElementById('ddlInsertConfigPdfSignOutputType').value = '';
                    document.getElementById('ddlInsertConfigPdfSignFontName').value = '';
                    document.getElementById('txtInsertConfigPdfSignFontSize').value = '';
                    document.getElementById('txtInsertConfigPdfSignImage').value = '';
                    document.getElementById('txtInsertConfigPdfSignImagex').value = '';
                    document.getElementById('txtInsertConfigPdfSignImagey').value = '';
                    document.getElementById('txtInsertConfigPdfSignLocation').value = '';
                    document.getElementById('txtInsertConfigPdfSignReason').value = '';
                    document.getElementById('txtInsertConfigPdfSignUrl').value = '';
                    document.getElementById('txtInsertConfigPdfSignUsername').value = '';
                    document.getElementById('txtInsertConfigPdfSignPassword').value = '';
                    document.getElementById('txtInsertConfigPdfSignFtpHost').value = '';
                    document.getElementById('txtInsertConfigPdfSignFtpPort').value = '';
                    document.getElementById('txtInsertConfigPdfSignFtpUsername').value = '';
                    document.getElementById('txtInsertConfigPdfSignFtpPassword').value = '';

                    $("#modalInsertConfigPdfSign").modal('hide');

                    callConfigPdfSignIndex();
                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }
            }
        });
    }

    function callConfigPdfSignUpdateController(){

        var IsActive = 1;
        var page = "first";
        var IsTimeStamp = "";

        if($('#toggleUpdateConfigPdfSignIsActive').prop('checked')){
            IsActive = 1;
        }
        else{
            IsActive = 0;
        }
        
        if($('#toggleUpdateConfigPdfSignIsImageFirst').prop('checked')){
            page = "first";
        }
        else if($('#toggleUpdateConfigPdfSignIsImageLast').prop('checked')){
            page = "last";
        }
        else{
            page = $('#toggleUpdateConfigPdfSignIsImage').val();
        }
        
        if($('#toggleUpdateConfigPdfSignIsImage').prop('checked')){
            IsTimeStamp = "1";
        }
        else{
            IsTimeStamp = "0";
        }

        var model = new Object();

        model.ConfigPdfSignNo = $('#txtUpdateConfigPdfSignNo').val();
        model.ConfigPdfsignCompanyCode = $('#txtUpdateConfigPdfSignCustomerCode').val();
        model.ConfigPdfSignInputSource = $('#ddlUpdateConfigPdfSignInputSource').val();
        model.ConfigPdfSignInputPath = $('#txtUpdateConfigPdfSignInputPath').val();
        model.ConfigPdfSignOutputSource = $('#ddlUpdateConfigPdfSignOutputSource').val();
        model.ConfigPdfSignOutputPath = $('#txtUpdateConfigPdfSignOutputPath').val();
        model.ConfigPdfSignOnlineRecordNumber = $('#txtUpdateConfigPdfSignOnlineRecordNumber').val();
        model.ConfigPdfsignInputType = $('#ddlUpdateConfigPdfSignInputType').val();
        model.ConfigPdfsignOutputType = $('#ddlUpdateConfigPdfSignOutputType').val();
        model.ConfigPdfsignFontName = $('#ddlUpdateConfigPdfSignFontName').val();
        model.ConfigPdfsignFontSize = $('#txtUpdateConfigPdfSignFontSize').val();
        model.ConfigPdfsignImage = $('#txtUpdateConfigPdfSignImage').val();
        model.ConfigPdfsignUlx = $('#txtUpdateConfigPdfSignImagex').val();
        model.ConfigPdfsignUly = $('#txtUpdateConfigPdfSignImagey').val();
        model.ConfigPdfsignPage = page;
        model.ConfigPdfsignDsLocation = $('#txtUpdateConfigPdfSignLocation').val();
        model.ConfigPdfsignDsReason = $('#txtUpdateConfigPdfSignReason').val();
        model.ConfigPdfsignTimestampUrl = $('#txtUpdateConfigPdfSignUrl').val();
        model.ConfigPdfsignWithTimeStamp = IsTimeStamp;
        model.ConfigPdfsignTimestampUserName = $('#txtUpdateConfigPdfSignUsername').val();
        model.ConfigPdfsignTimestampPassword = $('#txtUpdateConfigPdfSignPassword').val();
        model.ConfigPdfsignFtpHost = $('#txtUpdateConfigPdfSignFtpHost').val();
        model.ConfigPdfsignFtpPort = $('#txtUpdateConfigPdfSignFtpPort').val();
        model.ConfigPdfsignFtpUserName = $('#txtUpdateConfigPdfSignFtpUsername').val();
        model.ConfigPdfsignFtpPassword = $('#txtUpdateConfigPdfSignFtpPassword').val();
        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = IsActive;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Update", "ConfigPdfSign")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp)

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    fnSweetAlert_SaveSuccess();
                                        
                    document.getElementById('txtUpdateConfigPdfSignCustomerCode').value = '';
                    document.getElementById('ddlUpdateConfigPdfSignInputSource').value = '';
                    document.getElementById('ddlUpdateConfigPdfSignOutputSource').value = '';
                    document.getElementById('txtUpdateConfigPdfSignInputPath').value = '';
                    document.getElementById('txtUpdateConfigPdfSignOutputPath').value = '';
                    document.getElementById('txtUpdateConfigPdfSignOnlineRecordNumber').value = '';
                    document.getElementById('toggleUpdateConfigPdfSignIsImageFirst').value = '';
                    document.getElementById('toggleUpdateConfigPdfSignIsImageLast').value = '';
                    document.getElementById('toggleUpdateConfigPdfSignIsImage').value = '';
                    document.getElementById('ddlUpdateConfigPdfSignInputType').value = '';
                    document.getElementById('ddlUpdateConfigPdfSignOutputType').value = '';
                    document.getElementById('ddlUpdateConfigPdfSignFontName').value = '';
                    document.getElementById('txtUpdateConfigPdfSignFontSize').value = '';
                    document.getElementById('txtUpdateConfigPdfSignImage').value = '';
                    document.getElementById('txtUpdateConfigPdfSignImagex').value = '';
                    document.getElementById('txtUpdateConfigPdfSignImagey').value = '';
                    document.getElementById('txtUpdateConfigPdfSignLocation').value = '';
                    document.getElementById('txtUpdateConfigPdfSignReason').value = '';
                    document.getElementById('txtUpdateConfigPdfSignUrl').value = '';
                    document.getElementById('txtUpdateConfigPdfSignUsername').value = '';
                    document.getElementById('txtUpdateConfigPdfSignPassword').value = '';
                    document.getElementById('txtUpdateConfigPdfSignFtpHost').value = '';
                    document.getElementById('txtUpdateConfigPdfSignFtpPort').value = '';
                    document.getElementById('txtUpdateConfigPdfSignFtpUsername').value = '';
                    document.getElementById('txtUpdateConfigPdfSignFtpPassword').value = '';
                    
                    $("#modalUpdateConfigPdfSign").modal('hide');

                    callConfigPdfSignIndex();

                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }
            }
        });
    }

    function callConfigPdfSignDeleteController(getPK){

        var model = new Object();

        model.ConfigPdfSignNo = getPK;
        model.CustomerCode = '';
        model.ConfigPdfSignInputSource = '';
        model.ConfigPdfSignInputPath = '';
        model.ConfigPdfSignOutputSource = '';
        model.ConfigPdfSignOutputPath = '';
        model.ConfigPdfSignOnlineRecordNumber = '';

        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = 0;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete", "ConfigPdfSign")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function () {
                    fnSweetAlert_DeleteSuccess();
                }
        });
    }

    function callConfigPdfSignExportController(){
        $.ajax({
            type: "GET",
            url: "@Url.Action("ExportToCsv", "ConfigPdfSign")",
            //data: { id : getPK },
            contentType: 'application/json; charset=utf-8',
            //dataType: "json",
            success: function (response) {

                var blob = new Blob([response], {type: 'text/csv;charset=utf-8;'});

                var downloadUrl = URL.createObjectURL(blob);

                var a = document.createElement("a");

                a.href = downloadUrl;

                a.download = "scg-etax-ConfigPdfSign.csv";

                document.body.appendChild(a);

                a.click();
            }
        });
    }

    // [end] Ajax call Controller




    function callConfigPdfSignIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#render-configPdfSign-create").load("@Url.Action("Index", "ConfigPdfSign")");

            $("#render-configPdfSign-update").empty();
            $("#render-configPdfSign-update").load("@Url.Action("Index", "ConfigPdfSign")");

            $.unblockUI();
        }, 500);
    }
    function onChangeBathPdfSignImage() {

    }
    function validateUpdateConfigPdfSign() {

    }


</script>






