@{
    ViewData["Title"] = "OutputSearchPrinting Profile";
    Layout = null;
}


@await Html.PartialAsync("~/Views/OutputSearchPrinting/_Search.cshtml")

<div class="divider">
</div>
@await Html.PartialAsync("~/Views/OutputSearchPrinting/_Content.cshtml")


<script type="text/javascript">

    $(document).ready(function () {

        $('#outputSearchPrintingCustomerCode').select2();
        $('#outputSearchPrintingStatus').select2();

        $("#outputSearchPrintingDate").flatpickr({
            mode: "range",
            dateFormat: "d-m-Y"
        });

        fnDropdownOutputSearchPrintingCompanyCode();

        $("#tbOutputSearchPrintingMain").removeData();

        RenderOutputSearchPrinting();

    });


    function fnDropdownOutputSearchPrintingCompanyCode() {

        $.getJSON("@Url.Action("DropDownList", "ProfileCompany")", function (data) {
            $.each(data, function (i, data) {
                $('<option>',
                    {
                        value: data.companyCode,
                        text: data.companyCode
                    }).html(data.companyCode).appendTo("#outputSearchPrintingCustomerCode");
            });
        })
    }

    function fnSearchOutputDataPrinting(){

        $("#tbOutputSearchPrintingMain").remove();


        var getCompanyCode = $('#outputSearchPrintingCustomerCode').val();
        var getDate = $('#outputSearchPrintingDate').val();

        var model = new Object();

        model.outPutSearchCompanyCode = getCompanyCode;
        model.outPutSearchDate = getDate;

        var JsonString = JSON.stringify(model);

                //alert(JsonString);

        RenderOutputSearchPrinting(JsonString);
    }

    function RenderOutputSearchPrinting(){

        var table = $("#tbOutputSearchPrintingMain").DataTable({

            "scrollY": true,
            "scrollX": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "searching": true,
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "OutputSearchPrinting")",
                type: "POST",
                datatype: "json"
            },


            "columns": [

                
                {
                    data: "outputSearchPrintingCompanyCode",
                    width: "10%"
                },
                {
                    data: "createDate",
                    render: function(data, type, row, meta) {
                            return moment(data).format('DD-MM-YYYY')},
                    width: "10%"
                },
                {
                    data: "outputSearchPrintingFileName",
                    width: "20%",
                    render: function (data, type, row) {
                        return' '+ data.substr( 0, 30 ) + '...' + ' <a onclick="fnCallFullFilePathPrinting(' + row['outputSearchPrintingNo'] +');"> <i class="fas fa-folder-open"> </i> </a>';
                    }
                },
                {
                    data: "outputSearchPrintingFullPath",
                    className: "text-center",
                    width: "10%",
                    render: function (data, type, row) {
                        return'<a onclick="DownloadFile(' + row['outputSearchPrintingNo'] +')" class="btn btn-primary btn-sm"> Download </a>';
                    }
                },
                {
                    data: "outputSearchPrintingDowloadStatus",
                    width: "10%",
                    visible: false
                },
                {
                    data: "outputSearchPrintingNo",
                    className: "text-center",
                    width: "2%",
                        render: function (data, type, row) {
                            return'<a onclick="callEditOutputSearchPrinting(' + data +')" class="dt-center editor-edit text-center text-warning"><i class="pointer fas fa-clock"/> </i></a>';
                        }
                }
            ]
        });

        //EditOutputSearchPrinting(table);
        //DeleteOutputSearchPrinting(table);
    }


    function EditOutputSearchPrinting(table){

        $('#tbOutputSearchPrintingMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];

            callOutputSearchPrintingGetDetailController(getPK);
        });
    }
    function callEditOutputSearchPrinting(getPK){
        callOutputSearchPrintingGetDetailController(getPK);
    }

    function fnCallFullFilePathPrinting(PK){
        console.log('Mark');
        console.log(PK);
        $('#modalGetOutputSearchPrintingFullPath').modal('show');

        $('#fullPathPrintingGetFillName').empty();
        $('#fullPathPrintingGetFillPath').empty();
        $('#fullPathPrintingGetDatetime').empty();

        $.ajax({
            type: "GET",
            url: "@Url.Action("Detail", "OutputSearchPrinting")",
            data: { id : PK },
            dataType: "json",
            success: function (result) {

                data = $.parseJSON(result)

                $('#fullPathPrintingGetFillName').append(data.OutputSearchPrintingFileName);
                $('#fullPathPrintingGetFillPath').append(data.OutputSearchPrintingFullPath);
                $('#fullPathPrintingGetDatetime').append(data.CreateDate);

            }
        });

    }

    function fnCancelGetOutputSearchPrintingFullPath(){
        $('#modalGetOutputSearchPrintingFullPath').modal('hide');
    }


    function fnTimelineCancelOutputSearchPrinting(){

        $("#modalUpdateOutputSearchPrinting").modal('hide');
    } 

    function ExportOutputSearchPrinting(){

        $.blockUI();

        callOutputSearchPrintingExportController();

        $.unblockUI();
    }


    // [Begin] Ajax call Controller

    function callOutputSearchPrintingGetDetailController(getPK){
        $.ajax({
            type: "GET",
            url: "@Url.Action("DetailHistory", "OutputSearchPrinting")",
            data: { id : getPK },
            dataType: "json",
            success: function (result) {

                $('#appendSearchPrintingHistory').empty();
                $.each(result.data, function (i, slaveValue) {
                            var date = moment(slaveValue.outputSearchPrintingDowloadHistoryTime).format('DD/MM/YYYY HH:mm:ss');
                            var textappend = "<li class='timeline-item'>";
                            textappend = "<span class='timeline-point timeline-point-success'>";
                            textappend += "<i class='fas fa-download text-success'></i>";
                            textappend += "</span>";
                            textappend += "<div class='timeline-event'>";
                            textappend += "<div class='d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1'>";
                            textappend += "<h6 class='mb-50'>" + slaveValue.outputSearchPrintingDowloadHistoryBy + "</h6>";
                            textappend += "<span class='timeline-event-time'>" + date + "</span>";
                            textappend += "</div>";
                            textappend += "<p>The file has been downloaded..</p>";
                            textappend += "<hr />";
                            textappend += "<div class='d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1'>";
                            textappend += "</div>";
                            textappend += "</div>";
                            textappend += "</li>";

                            $('#appendSearchPrintingHistory').append(textappend);
                });
                $("#modalUpdateOutputSearchPrinting").modal('show');



            }
        });
    }


    function callOutputSearchPrintingExportController(){
        
        var getCompanyCode = $('#outputSearchPrintingCustomerCode').val();
        var getDateBetween = $('#outputSearchPrintingDate').val();
        var getPrintDownloadStatus = $('#outputSearchPrintingStatus').val();
        var model = new Object();

        model.outPutSearchCompanyCode = getCompanyCode;
        model.outPutSearchDate = getDateBetween;
        model.outPutSearchStatus = getPrintDownloadStatus;

        var JsonString = JSON.stringify(model);
        $.ajax({
            type: "GET",
            url: "@Url.Action("ExportToCsv", "OutputSearchPrinting")",
            data: { jsonSearchString : JsonString },
            contentType: 'application/json; charset=utf-8',
            //dataType: "json",
            success: function (response) {

                var blob = new Blob([response], {type: 'text/csv;charset=utf-8;'});

                var downloadUrl = URL.createObjectURL(blob);

                var a = document.createElement("a");

                a.href = downloadUrl;

                a.download = "scg-etax-OutputSearchPrinting.csv";

                document.body.appendChild(a);

                a.click();
            }
        });
    }

    // [end] Ajax call Controller


    function fnSearchOutputPrint(){

        var getCompanyCode = $('#outputSearchPrintingCustomerCode').val();
        var getDateBetween = $('#outputSearchPrintingDate').val();
        var getPrintDownloadStatus = $('#outputSearchPrintingStatus').val();

        var model = new Object();

        model.outPutSearchCompanyCode = getCompanyCode;
        model.outPutSearchDate = getDateBetween;
        model.outPutSearchStatus = getPrintDownloadStatus;

        var JsonString = JSON.stringify(model);

        $('#tbOutputSearchPrintingMain').DataTable().destroy();


        $('#tbOutputSearchPrintingMain').DataTable({

            "scrollY": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "retrieve": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax":
                {
                    type: "GET",
                    url: "@Url.Action("Search", "OutputSearchPrinting")",
                    data: { jsonSearchString : JsonString },
                    dataType: "json"
                },
                "columns": [

                    
                {
                    data: "outputSearchPrintingCompanyCode",
                    width: "10%"
                },
                {
                    data: "createDate",
                    render: function(data, type, row, meta) {
                            return moment(data).format('DD-MM-YYYY')},
                    width: "10%"
                },
                {
                    data: "outputSearchPrintingFileName",
                    width: "20%",
                    render: function (data, type, row) {
                        return' '+ data.substr( 0, 30 ) + '...' + ' <a onclick="fnCallFullFilePathPrinting(' + row['outputSearchPrintingNo'] +');"> <i class="fas fa-folder-open"> </i> </a>';
                    }
                },
                {
                    data: "outputSearchPrintingFullPath",
                    className: "text-center",
                    width: "10%",
                    render: function (data, type, row) {
                        return'<a onclick="DownloadFile(' + row['outputSearchPrintingNo'] +')" class="btn btn-primary btn-sm"> Download </a>';
                    }
                },
                {
                    data: "outputSearchPrintingDowloadStatus",
                    width: "10%",
                    visible: false
                },
                {
                    data: "outputSearchPrintingNo",
                    className: "text-center",
                    width: "2%",
                        render: function (data, type, row) {
                            return'<a onclick="callEditOutputSearchPrinting(' + data +')" class="dt-center editor-edit text-center text-warning"><i class="pointer fas fa-clock"/> </i></a>';
                        }
                }
                
            ],


             destroy : true
            
        }).ajax.reload();
    }

    function DownloadFile(getpk) {
        
        var model = new Object();

        model.OutputSearchPrintingNo = getpk;
        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = 1;
        var getJsonString = JSON.stringify(model);
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("DownloadZipFile", "OutputSearchPrinting")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {
                data = $.parseJSON(resp)
                console.log('Mark');
                console.log(data);
                //Convert Base64 string to Byte Array.
                var bytes = Base64ToBytes(data.outpuT_DATA);
                var fileName = data.message;
                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });
 
                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", fileName);
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });
    };
    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };


    function callOutputSearchPrintingIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#render-OutputSearchPrinting-create").load("@Url.Action("Index", "OutputSearchPrinting")");
            $.unblockUI();
        }, 500);
    }


</script>






