<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCG.CAD.ETAX.WEB</title>


    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />


    <link rel="stylesheet" href="@Url.Content("~/assets/fontawesome/css/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/fontawesome/css/fontawesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/fontawesome/css/brands.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/fontawesome/css/solid.css")" />


    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">

    <link rel="stylesheet" href="~/assets/select2/select2.min.css">



    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/assets/css/cursor/cursor.css">
    <link rel="stylesheet" href="~/assets/css/scroll/scroll.css">


    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/extensions/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/extensions/toastr.css">


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.4/datatables.min.css" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


</head>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>

            @await Html.PartialAsync("~/Views/Sidebar/TopSidebar.cshtml")

            @await Html.PartialAsync("~/Views/Sidebar/LeftSidebar.cshtml")



            <div class="main-content">
                <section class="section">
                    <div id="contentPartial">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("~/Views/ProductUnit/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/TaxCode/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/RdDocument/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/DocumentCode/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileDataSource/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ErpDocument/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileSellOrg/_Modal.cshtml")

    <!-- General JS Scripts -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>
    <script src="~/assets/BlockUI/BlockUI.js"></script>


    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/index.js"></script>


    <script src="~/assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/scripts/extensions/sweet-alerts"></script>
    <script src="~/assets/vendors/js/extensions/toastr.min.js"></script>



    <script src="~/js/common.js"></script>
    @*<script src="~/js/validate.js"></script>*@

    <script src="~/assets/select2/select2.min.js"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.4/datatables.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


    @*Js menu control*@
    @await Html.PartialAsync("~/Views/MenuControl/_Content.cshtml")


</body>
</html>
