<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="SCG e-tax application">
    <meta name="keywords" content="SCG e-tax application">
    <meta name="author" content="SCG">
    <title>E-TAX</title>
    <link rel="apple-touch-icon" href="~/favicon-scg.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon-scg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/vendor/fontawesome/css/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/vendor/fontawesome/css/fontawesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/vendor/fontawesome/css/brands.css")" />
    <link rel="stylesheet" href="@Url.Content("~/vendor/fontawesome/css/solid.css")" />


    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/semi-dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/pickers/form-flat-pickr.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/charts/chart-apex.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-invoice-list.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-sweet-alerts.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    @*<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">*@
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/ui-feather.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-quill-editor.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-email.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/pickadate/pickadate.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/pickers/form-flat-pickr.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/pickers/form-pickadate.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/page-auth.css">



    <link rel="stylesheet" type="text/css" href="~/vendor/cursor/cursor.css">





</head>
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    @await Html.PartialAsync("~/Views/Sidebar/TopSidebar.cshtml")

    @await Html.PartialAsync("~/Views/Sidebar/LeftSidebar.cshtml")


    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <div id="contentPartial">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    @await Html.PartialAsync("~/Views/Sidebar/BottomSidebar.cshtml")


    @await Html.PartialAsync("~/Views/ProductUnit/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/TaxCode/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/RdDocument/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/DocumentCode/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileDataSource/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ErpDocument/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileSellOrg/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileCertificate/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileCompanyCode/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileEmailType/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileReasonIssue/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileEmailTemplate/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ZipFileType/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ZipFileConfig/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileCompany/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileSeller/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileBranch/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfileCustomer/_Modal.cshtml")
    @await Html.PartialAsync("~/Views/ProfilePartner/_Modal.cshtml")

    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <script src="~/app-assets/js/scripts/forms/form-validation.js"></script>
    <script src="~/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/moment.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.min.js"></script>
    <script src="~/app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <script src="~/app-assets/js/scripts/pages/app-invoice-list.js"></script>
    <script src="~/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/polyfill.min.js"></script>
    <script src="~/app-assets/js/scripts/extensions/ext-component-sweet-alerts.js"></script>
    <script src="~/app-assets/js/scripts/extensions/ext-component-blockui.js"></script>
    <script src="~/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/app-assets/js/scripts/components/components-navs.js"></script>
    <script src="~/app-assets/js/scripts/ui/ui-feather.js"></script>
    @*<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>*@
    <script src="~/js/common.js"></script>

    <script src="~/app-assets/vendors/js/editors/quill/katex.min.js"></script>
    <script src="~/app-assets/vendors/js/editors/quill/highlight.min.js"></script>
    <script src="~/app-assets/vendors/js/editors/quill/quill.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/app-assets/js/scripts/pages/app-email.js"></script>

    <script src=".~/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src=".~/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    <script src=".~/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
    <script src=".~/app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
    <script src=".~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src=".~/app-assets/js/scripts/forms/pickers/form-pickers.js"></script>

    <script src="~/app-assets/js/scripts/pages/page-auth-login.js"></script>

    <script src="@Url.Content("~/vendor/fontawesome/js/all.js")"></script>
    <script src="@Url.Content("~/vendor/fontawesome/js/brands.js")"></script>
    <script src="@Url.Content("~/vendor/fontawesome/js/solid.js")"></script>
    <script src="@Url.Content("~/vendor/fontawesome/js/fontawesome.js")"></script>

    <script>

            $(window).on('load', function() {
                if (feather) {
                    feather.replace({
                        width: 13,
                        height: 13
                    });
                }
            })

        function callHomeIndex() {
            setTimeout(function(){
                $.blockUI();
                $("#contentPartial").load("@Url.Action("Index", "Home")");
                $.unblockUI();
            }, 0);
        }

    </script>



    @await RenderSectionAsync("Scripts", required: false)


    @*Js menu control*@
    @await Html.PartialAsync("~/Views/MenuControl/_Content.cshtml")


</body>
</html>
