@{
    ViewData["Title"] = " ConfigControlFunction ";
    Layout = null;
}

@await Html.PartialAsync("~/Views/ConfigControlFunction/_Content.cshtml")



<script type="text/javascript">

     $(document).ready(function () {
        $("#ddlFunctionUserLevel").select2();
        RenderConfigControlFunction();
    });



    function RenderConfigControlFunction(){

        var table = $("#tbConfigControlFunctionMain").DataTable({

            "scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                url: "@Url.Action("List", "ConfigControlMenu")",
                type: "POST",
                datatype: "json"
            },


            "columns": [

                {
                    data: "configControlMenuNo",
                    className: "text-center",
                    width: "5%",
                    visible: false
                },
                {
                    className: "text-center",
                    width: "5%",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    data: "configControlMenuName",
                    width: "50%"
                },
                {
                    data: null,
                    className: "dt-center editor-edit text-center text-primary",
                    defaultContent: '<i class="pointer fas fa-pen"/>',
                    orderable: false,
                    width: "2%"
                }
            ]
        });

        table.on( 'order.dt search.dt', function () {
            table.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } ).draw();


        EditConfigControlFunction(table);
        //DeleteConfigControlFunction(table);
    }

    function fnInsertCancelConfigControlFunction(){

        document.getElementById('txtInsertFunctionName').value = '';

        $("#modalCreateConfigControlFunction").modal('hide');
    }

    function fnUpdateCancelConfigControlFunction(){
        fnClearEditFunction();
        document.getElementById('txtUpdateFunctionName').value = '';
        $("#modalUpdateConfigControlFunction").modal('hide');
    }

    function callModalInsertConfigControlFunction(){

        document.getElementById('txtInsertFunctionName').value = '';
        $("#modalCreateConfigControlFunction").modal('show');
    }

    function fnInsertConfigControlFunction(){

        if ( $('#txtInsertFunctionName').val() != '' )
        {
            callConfigControlFunctionInsertController();
        }
        else {
            fnToastrInputDataFail();
            validateInsertConfigControlFunction();
        }

    }

    function fnUpdateConfigControlFunction(){

         if ( $('#txtUpdateFunctionName').val() != '')

        {
            callConfigControlFunctionUpdateController();
        }
        else {
            fnToastrInputDataFail();
            validateUpdateConfigControlFunction();
        }
    }

    function EditConfigControlFunction(table){

        $('#tbConfigControlFunctionMain').on('click', 'td.editor-edit', function () {

            var data = table.row($(this).closest('tr')).data();

            var getPK = data[Object.keys(data)[0]];
            var menuname = data[Object.keys(data)[1]];
            fnDropdownUserLevel();
            fnClearEditFunction();
            setTimeout(function(){
                callConfigControlFunctionGetDetailController(getPK, menuname);
            }, 1000);

        });
    }


    function callConfigControlFunctionGetDetailController(getPK, menuname){

       document.getElementById('txtUpdateFunctionName').value = menuname;
       document.getElementById('txtUpdateFunctionMenuNo').value = getPK;
        var table = $("#tbConfigFunction").DataTable({
            //"scrollY": false,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "bPaginate": false, //hide pagination
            "bFilter": false, //hide Search bar
            "bInfo": false, // hide showing entries
            "destroy" : true,

            "ajax": {
                url: "@Url.Action("Detail", "ConfigControlFunction")",
                type: "POST",
                data: { id : getPK },
                datatype: "json"
            },
            "columns": [
                {
                    data: "configFunctionNo",
                    className: "text-center",
                    width: "5%",
                    visible: false
                },
                {
                    data: "configFunctionName",
                    width: "5%"
                },
                {
                    data: "configFunctionGroupRoleNo",
                    width: "5%",
                    visible: false
                },
                {
                    data: "configFunctionGroupRole",
                    width: "85%",
                    className: "text-center"
                },
                {
                    data: "configFunctionActive",
                    width: "5%",
                    className: "text-center",
                    render: function (data, type, row) {
                        return (data) ? '<i class="text-success fas fa-check"/>' : '<i class="text-danger fas fa-ban"/>';
                    }
                },
                {
                    data: "configFunctionNo",
                    width: "2%",
                    render: function (data, type, row) {
                        return "<a onclick='callEditConfigFunction(" + row['configFunctionNo'] + ",\"" + row['configFunctionName'] + "\",\"" + row['configFunctionGroupRoleNo'] + "\"," + row['configFunctionActive'] + ")' class='dt-center editor-edit text-center text-primary'><i class='pointer fas fa-pen'/></a>";
                        //return'<a class="dt-center editor-edit text-center text-primary button1"><i class="pointer fas fa-pen"/></a>';
                    }
                }
            ]
        });

        //EditFunction(table);
        $("#modalUpdateConfigControlFunction").modal('show');
    }

    function callConfigControlFunctionInsertController(){

        var model = new Object();

        model.ConfigControlFunctionName = $('#txtInsertFunctionName').val();

        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Insert", "ConfigControlFunction")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp);

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    $("#modalCreateConfigControlFunction").modal('hide');

                    fnSweetAlert_SaveSuccess();

                    callConfigControlFunctionIndex();
                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }

            }
        });
    }

    function callConfigControlFunctionUpdateController(){

        var model = new Object();

        model.ConfigControlFunctionNo = $('#txtUpdateFunctionNo').val();
        model.ConfigControlFunctionName = $('#txtUpdateFunctionName').val();

        model.CreateBy = $("#leftSideEmail").text();
        model.CreateDate = new Date();
        model.UpdateBy = $("#leftSideEmail").text();
        model.UpdateDate = new Date();
        model.Isactive = IsActive;

        var getJsonString = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: "@Url.Action("Update", "ConfigControlFunction")",
            data: { jsonString : getJsonString },
            dataType: "text",
            success: function (resp) {

                data = $.parseJSON(resp)

                var errorMessage = data.erroR_MESSAGE;

                if(data.status == true){

                    $("#modalUpdateConfigControlFunction").modal('hide');

                    fnSweetAlert_SaveSuccess();

                    callConfigControlFunctionIndex();

                }
                else{
                    fnSweetAlert_Error(errorMessage);
                }
            }
        });
    }

    function fnDropdownUserLevel() {
        $('#ddlFunctionUserLevel').empty();
        $.getJSON("@Url.Action("DropDownList", "ProfileUserRole")", function (data) {
            $.each(data, function (i, data) {
                $('<option>',
                    {
                        value: data.profileUserRoleNo,
                        text: data.profileUserRoleName
                    }).html(data.profileUserRoleName).appendTo("#ddlFunctionUserLevel");
            });
        })
    }

    function callEditConfigFunction(functionNo, functionName, functionLevel, functionActive){

        document.getElementById('txtFunctionNo').value = functionNo;
        document.getElementById('txtFunctionName').value = functionName;

        if(functionActive){
            $('#txtFunctionstatus').val("1").trigger('change');
        }else{
            $('#txtFunctionstatus').val("0").trigger('change');
        }

        if(functionLevel != null){
            $('#ddlFunctionUserLevel').val(functionLevel.split(',')).trigger('change');
        }

        $('#updateFunction').removeAttr('hidden');
    }
    function fnEditFunction(){

        var model = new Object();

            model.configControlFunctionMenuNo = $('#txtUpdateFunctionMenuNo').val();
            model.configControlNo = $('#txtFunctionNo').val();
            model.configControlFunctionRole = $('#ddlFunctionUserLevel').val().toString();
            model.createBy = $("#leftSideEmail").text();
            model.createDate = new Date();
            model.updateBy = $("#leftSideEmail").text();
            model.updateDate = new Date();
            model.isactive = $('#txtFunctionstatus').val();

            var getJsonString = JSON.stringify(model);
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Update", "ConfigControlFunction")",
                    data: { jsonString : getJsonString },
                    dataType: "text",
                    success: function (result) {
                        data = $.parseJSON(result);
                        var errorMessage = data.erroR_MESSAGE;
                        if(data.status == true){

                            fnClearEditFunction();
                            $('#tbConfigFunction').DataTable().ajax.reload();
                            fnSweetAlert_SaveSuccess();
                        }
                        else{
                            fnSweetAlert_Error(errorMessage);
                        }
                    }
                });
    }
    function fnClearEditFunction(){
        $('#ddlFunctionUserLevel').val("").trigger('change');
        $('#txtFunctionstatus').val("0").trigger('change');
        document.getElementById('txtFunctionName').value = "";
        document.getElementById('txtFunctionNo').value = "";
        $('#updateFunction').attr("hidden", true);
    }

    function callConfigControlFunctionIndex() {
        setTimeout(function(){
            $.blockUI();
            $("#contentPartial").load("@Url.Action("Index", "ConfigControlFunction")");
            $.unblockUI();
        }, 500);
    }


</script>